.item-team
    a.item-team__photo(href='#', data-item=index data-link=type)
        span.item-team__photo-inner
           img(src='#{player.photo}', alt='')
    .item-team__body
        .item-team-name #{player.name}
        .item-team-pos #{player.position}