.item-man
    .item-team.item-team--player
        .item-team__photo
            span.item-team__photo-inner
                img(src='#{player.photo}', alt='')
    .item-man__body
        .item-man-name.item-man-name--margin #{player.name}
        .item-man-position.uppercase #{player.position}
        .item-man-text
            .item-man-text__left
                .item-man__info
                    .item-man-birthday.uppercase #{player.data[0].data[0]}
                    .item-man-nation.uppercase #{player.data[0].data[1]}
                    .item-man-data.uppercase #{player.data[0].data[2]}
                    .item-man-pos.uppercase #{player.data[0].data[3]}
                each text in player.data[0].biography
                    p #{text}
            .item-man-text__right
                .item-man-text--title.uppercase статистика игрока
                .table-wrap
                    table.table-team
                        thead
                            tr
                                th Сезон
                                th Игры
                                th Голы
                                th
                                    .card.card-yellow
                                    .card.card-red
                        tbody
                            each item in player.data[0].statistics
                                tr
                                    each td in item
                                        td #{td}
                .item-man-text--title.uppercase другие сезоны
                .table-wrap
                    table.table-team
                        thead
                            tr
                                th Сезон
                                th Команда
                                th Голы
                                th Чемпионат
                                th Кубок
                                th Дубль
                                th Еврокубки
                        tbody
                            each item in player.data[0].otherSeason
                                tr
                                    each td in item
                                        td #{td}