if calendar.games
    .item-schedule
        h3.schedule-title #{calendar.month} 2016
        .game-wrap
            ul.game-list
                each game in calendar.games
                    li
                        .item-club.text-right
                            | #{game[0]}
                            img.club-logo(src='#{game[1]}', alt='')
                        .schedule-point #{game[2]}
                        .item-club
                            img.club-logo(src='#{game[3]}', alt='')
                            | #{game[4]}